<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Vanilla CSS Scroll ✨</h1>
    <article>
      <h2>Welcome to the fkin show 🔥</h2>
      <p>
        Excepteur minim eiusmod magna sunt esse non qui reprehenderit duis
        mollit officia nisi ex proident. Aute dolor fugiat anim esse cillum ad
        in eiusmod non duis esse est qui irure. Tempor aliquip laborum occaecat
        anim consectetur est veniam commodo anim excepteur ullamco proident
        fugiat sint. Ullamco dolore consequat esse ut ut ex velit aliqua.
        Consequat excepteur sunt mollit non consectetur nulla id ullamco eiusmod
        velit do nulla sit.
      </p>
      <ul>
        <li>
          Ea pariatur in laborum esse consectetur ea laboris officia proident ad
          cupidatat cillum exercitation. Et ipsum incididunt commodo ullamco ad
          culpa exercitation ipsum tempor. Tempor mollit sunt excepteur ullamco
          proident sunt nisi esse esse eiusmod tempor ea nostrud excepteur.
        </li>
        <li>
          Irure aliquip laboris tempor occaecat adipisicing voluptate et labore
          aliquip et. Nulla ea sunt ut magna consequat esse ipsum irure amet
          culpa nostrud. Dolore quis cillum enim laboris magna voluptate ullamco
          dolore quis nulla Lorem veniam ea dolore. Dolore deserunt sint commodo
          officia officia ad culpa commodo consectetur dolore commodo tempor.
          Commodo tempor consequat eu consequat aliqua excepteur mollit.
          Excepteur mollit sunt velit do deserunt labore nulla ex mollit aute.
        </li>
        <li>
          Et voluptate laboris cupidatat culpa occaecat. Laboris excepteur sunt
          nisi id velit incididunt velit laborum est pariatur ad Lorem. Veniam
          deserunt ea sunt adipisicing tempor et aliquip amet reprehenderit.
          Quis sint occaecat ullamco in.
        </li>
      </ul>

      <h2>Laborum esse esse exercitation mollit aliqua elit.</h2>
      <p>
        Dolore mollit ipsum nostrud proident tempor in deserunt culpa non
        mollit. Nisi est fugiat voluptate velit voluptate exercitation aute elit
        fugiat mollit ipsum cillum reprehenderit sit. Nisi consectetur minim
        magna velit consequat fugiat officia elit sit laborum dolore quis
        laborum ea. Incididunt quis ullamco cillum ea velit pariatur fugiat
        cupidatat anim laboris cillum eiusmod elit. Excepteur anim duis aliqua
        cupidatat. Commodo pariatur ipsum irure dolor et et proident laborum
        duis non.
      </p>
      <ul>
        <li>
          Dolor id ullamco commodo tempor dolor in velit voluptate officia. Et
          id quis nostrud ullamco cillum qui. Ipsum adipisicing fugiat
          adipisicing amet dolor consequat ipsum excepteur quis commodo.
        </li>
        <li>
          Commodo elit nisi nostrud non incididunt ea magna cupidatat quis
          cillum pariatur tempor. Excepteur in est nostrud culpa id
          reprehenderit ea sint consequat. Nostrud esse ex commodo deserunt.
          Nisi aliquip eu culpa non do sint dolore. Enim sint qui velit commodo
          enim mollit. Reprehenderit adipisicing cillum culpa occaecat tempor
          dolor deserunt proident qui ut occaecat excepteur.
        </li>
        <li>
          Laboris ut ea consequat dolor consequat dolore ut. Dolor nulla
          occaecat amet non eu adipisicing reprehenderit Lorem nulla enim
          tempor. Non enim consequat id culpa nisi. Occaecat mollit exercitation
          deserunt ipsum amet aliqua. Consectetur incididunt proident amet qui
          enim.
        </li>
        <li>
          Quis elit dolore tempor Lorem Lorem elit Lorem consectetur commodo
          minim officia. Sit officia ex quis ad nisi ut veniam labore.
          Reprehenderit enim reprehenderit cupidatat reprehenderit nisi in
          fugiat minim quis do nisi consectetur ex. Ad ipsum est est cupidatat
          sit.
        </li>
        <li>
          Laboris exercitation ipsum est tempor incididunt labore. Laborum
          mollit ut tempor laboris. Adipisicing incididunt qui sit quis qui
          culpa reprehenderit veniam dolore dolor. Lorem culpa veniam ut fugiat
          aliqua ex sit mollit labore aute ea proident ipsum. Voluptate laboris
          elit dolore eu. Commodo aliquip incididunt in minim. Aute consequat
          nostrud minim incididunt dolor aliquip esse nostrud.
        </li>
      </ul>
      <p>
        Occaecat ex velit velit mollit deserunt ex eiusmod. Officia excepteur
        consectetur esse eu id aute do ut ea elit. Quis et id cupidatat aliquip
        ut eiusmod cillum cillum non anim labore reprehenderit esse. Qui magna
        eu quis pariatur mollit mollit consectetur sint laborum nisi esse
        officia dolore adipisicing. Aliqua ex exercitation cillum sint sint esse
        excepteur ad excepteur do id aute mollit pariatur.
      </p>
      <div class="container">
        <p>
          Est proident esse enim sint est sunt. Qui quis sit labore consectetur.
          Ea elit consequat excepteur velit qui consectetur proident ullamco
          occaecat ut Lorem nostrud magna.
        </p>
      </div>
      <figure>
        <img
          src="https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="mountains in the background with a sunset"
        />
        <figcaption>Beautiful sunset over mountains</figcaption>
      </figure>
    </article>
  </body>
</html>

<style>
  body {
    line-height: 1.5;
    font-family: sans-serif;
    font-size: clamp(1.125rem, 2vw, 1.25rem);
  }

  h1 {
    font-size: 2rem;
    margin: 40rem 0rem;
    text-align: center;
  }

  p,
  li {
    animation: fade 3s linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
  }

  h2 {
    background: linear-gradient(90deg, black, transparent);
    background-size: 200%;
    animation: reveal both linear;
    animation-timeline: view();
    background-repeat: no-repeat;
    animation-range: entry 50% cover 50%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
  }

  @keyframes reveal {
    from {
      background-position-x: 200%;
    }
    to {
      background-position-x: 0%;
    }
  }
</style>
